
    <div id ="container" ng-controller="AppCtrl">
        <table>
            <tbody>
                <tr><input ng-model="title" placeholder="Add Todo" /tr>
                    <tr><button class="button add" ng-click="addList()">+ ADD</button></tr>
                    <tr ng-repeat="list in lists">
                        <td>{{list.title}}</td>
                        <td><button class="button delete" ng-click="remove(list._id)">DEL</button></td>
                    </tr>
            </tbody>
        </table>
    </div>

<script src="/libs/angular.js"></script>
<script src="/libs/angular-route.js"></script>
<script src="/libs/axios.js"></script>
<script src="controllers/controller.js"></script>
